body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full screen height */
    margin: 0; /* Remove default margin */
    background-color: #f4f4f4; /* Optional background color */
}

h1 {
    font-size: 40px;
}

p {
    padding: 10px;
}
.box {
    text-align: center; /* Ensure text inside is centered */
    background: white;
    padding: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.score-board {
    padding: 20px;
}

button {
    background-color: rgb(132, 234, 141);
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0 , 0 , 0.1);
}

button:hover {
background-color: #2eca48;
}